.detail-material-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}

.detail-material-row p {
  margin: 0;
  margin-right: 10px;
}

.test-details-container .material-badges-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 2px;
}

.test-details-container .keine-material-info {
  font-style: italic;
  opacity: 0.7;
}
